body {
    text-align: center;
    background-image: url('virag.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}