body {
    text-align: center;
    background-image: url('virag.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-position-y: top;
    background-position-x: left;
}

.container {
    margin-top: 25rem;
}